@model string
@{
    ViewData["Title"] = "Authentication";
}

<div class="container text-center">
<h3>@Model</h3>
@if (User?.Identity?.IsAuthenticated ?? false)
{
<a asp-controller="Account" asp-action="Logout" class="btn btn-danger">Odhlásit</a>
}
</div>
<div class="text-center my-4">
    <h1 class="display-4">Vítejte v OMS app</h1>
    <h4> Systému pro správu objednávek</h4>
</div>
