@using FinalSchoolProject.ViewModels;
@model LoginVM
@{
	ViewData["Title"] = "Login";
}
<div class="container">
	<h1>Přihlášení</h1>
	<div class="text-danger" asp-validation-summary="All"></div>
	<form asp-action="Login" method="post">
		<input type="hidden" asp-for="ReturnUrl" />
		<div>
			<label asp-for="UserName">Uživatelské jméno</label>
			<input asp-for="UserName" class="form-control" />
		</div>
		<div>
			<label asp-for="Password">Heslo</label>
			<input type="password" asp-for="Password" class="form-control" />
		</div>
		<div class="my-2">
			Zapamatovat přihlášení ?  <input type="checkbox" asp-for="Remember" />
		</div>
		<button class="btn btn-sm btn-outline-success" type="submit">Přihlásit</button>
	</form>
</div>