<div class="container">
	<h1>Create a Role</h1>
	<a asp-action="Index" class="btn btn-sm btn-secondary">Zpět</a>
	<div asp-validation-summary="All" class="text-danger"></div>
	<form asp-action="Create" method="post">
		<div>
			<label for="name">Name:</label>
			<input name="name" class="form-control" />
		</div>
		<button type="submit" class="btn btn-sm btn-success confirm-btn mt-2">Vytvořit</button>
	</form>
</div>