@using FinalSchoolProject.ViewModels
@model UserVM
@{
	ViewData["Title"] = "CREATE USER";
}
<div class="container">
	<h1>Vytvořit uživatele</h1>
	<a asp-action="Index" class="btn btn-sm btn-secondary">Zpět</a>
	<div asp-validation-summary="All" class="text-danger"></div>
	<form method="post">
		<div>
			<label asp-for="Name">Jméno</label>
			<input asp-for="Name" class="form-control" />
		</div>
		<div>
			<label asp-for="Email">E-mail</label>
			<input asp-for="Email" class="form-control" />
		</div>
		<div>
			<label asp-for="Password">Heslo</label>
			<input asp-for="Password" class="form-control" />
		</div>
		<button type="submit" class="btn btn-sm btn-success confirm-btn mt-2">Vytvořit</button>
	</form>
</div>