@using FinalSchoolProject.DTO;
@using FinalSchoolProject.ViewModels
@model AppUser
@{
	ViewData["Title"] = "UPDATE USER";
}
<div class="container">
	<h1>Upravit uživatele</h1>
	<a asp-action="Index" class="btn btn-sm btn-secondary">Zpět</a>
	<div asp-validation-summary="All" class="text-danger"></div>
	<form asp-action="Edit" method="post">
		<div>
			<label asp-for="Id">ID</label>
			<input asp-for="Id" class="form-control" disabled />
		</div>
		<div>
			<label asp-for="UserName">Uživatelské jméno</label>
			<input asp-for="UserName" class="form-control" disabled />
		</div>
		<div>
			<label asp-for="Email">E-mail</label>
			<input asp-for="Email" class="form-control" />
		</div>
		<div>
			<label for="password">Heslo</label>
			<input name="password" class="form-control" />
		</div>
		<button type="submit" class="btn btn-sm btn-warning confirm-btn mt-2">Uložit</button>
	</form>
</div>