@using FinalSchoolProject.DTO
@model OrderDTO
<div class="container">
	<h4>Nová objednávka</h4>
	<form asp-controller="Orders" asp-action="Edit">
		<div asp-validation-summary="All" class="text-danger"></div>
		<div class="row">
			<div class="col">
				<label asp-for="CustomerId" class="control-label">Společnost:</label>
				<select asp-for="CustomerId" class="form-control" asp-items="ViewBag.Customers"></select>
				<span asp-validation-for="CustomerId" class="text-danger"></span>
			</div>
			<div class="col">
				<label asp-for="TotalPrice">Celková cena:</label>
				<input type="text" asp-for="TotalPrice" class="form-control" />
				<span asp-validation-for="TotalPrice" class="text-danger"></span>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<label asp-for="Accepted">Přijato:</label>
				<input type="date" asp-for="Accepted" class="form-control" />
				<span asp-validation-for="Accepted" class="text-danger"></span>
			</div>
			<div class="col">
				<label asp-for="Deadline">Termín:</label>
				<input type="date" asp-for="Deadline" class="form-control" />
				<span asp-validation-for="Deadline" class="text-danger"></span>
			</div>
		</div>
		<div>
			<label asp-for="StatusId">Status:</label>
			<select asp-for="StatusId" class="form-control" asp-items="ViewBag.Statuses"></select>
			<span asp-validation-for="StatusId" class="text-danger"></span>
		</div>
		<div>
			<label asp-for="Title">Předmět:</label>
			<input type="text" asp-for="Title" class="form-control" />
			<span asp-validation-for="Title" class="text-danger"></span>
		</div>
		<div>
			<label asp-for="Description">Podrobnosti:</label>
			<textarea asp-for="Description" class="form-control" rows="6" cols="30">
		Poznámky k objednávce...
		</textarea>
		</div>
		<div class="row">
			<div class="col">
				<label asp-for="PriceOfferNum">Cenová nabídka č:</label>
				<input type="text" asp-for="PriceOfferNum" class="form-control" />
			</div>
			<div class="col">
				<label asp-for="DeliveryNoteNum">Dodací list č:</label>
				<input type="text" asp-for="DeliveryNoteNum" class="form-control" />
			</div>
			<div class="col">
				<label asp-for="InvoiceNum">Faktura č:</label>
				<input type="text" asp-for="InvoiceNum" class="form-control" />
			</div>
		</div>

		<div class="mt-3">
			<input class="btn btn-success" type="submit" value="Uložit změny" />
		</div>
	</form>
</div>

@section Scripts {
	@{
		<partial name="_ValidationScriptsPartial" />
	}
}

