// Custom.scss
// Option A: Include all of Bootstrap

// Include any default variable overrides here (though functions won't be available)

$grid-columns: 28;
$grid-gutter-width: 1.5rem;
$grid-row-columns: 6;

@import "../../node_modules/bootstrap/scss/bootstrap.scss";

// Then add additional custom code here

.custom-p {
    margin: 0;
    /*padding: 0;*/
    line-height: 1.4;
}

hr {
    margin: 0.25rem 0px;
}

html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

main {
    flex-grow: 1;
}

.footer {
    position: static !important;
    width: 100%;
    white-space: normal;
    line-height: normal;
    margin-top: auto; // Udrží footer dole
}

.action-btn {
    min-width: 5rem; /* nastaví minimální šířku tlačítek */
}

.success-action-btn {
    min-width: 8rem; /* nastaví minimální šířku tlačítek */
}

.confirm-btn {
    min-width: 6rem; /* nastaví minimální šířku tlačítek */
}

.custom-table-margin {
    margin: 0px 0px 7px;
}

h1 {
    font-size: 1.5rem; /* původně možná 2.5rem */
    margin-bottom: 0.25rem;
}

h2 {
    font-size: 1.25rem;
}

h3 {
    font-size: 1rem;
}

h4 {
    font-size: 0.875rem;
}

h5 {
    font-size: 0.75rem;
}

h6 {
    font-size: 0.625rem;
}
