// Custom.scss
// Option A: Include all of Bootstrap

// Include any default variable overrides here (though functions won't be available)

$grid-columns: 24;
$grid-gutter-width: 1.5rem;
$grid-row-columns: 6;
$success: pink;

@import "../../node_modules/bootstrap/scss/bootstrap.scss";

// Then add additional custom code here
